# for the package itself
joblib==0.13.0
numpy==1.15.4
scikit-learn==0.20.0
scipy==1.2.0

# for testing
pytest
pytest-cov
codecov

# for the documentation
sphinx==1.8.2
sphinx-autobuild
numpydoc
sphinx_rtd_theme
