name: Guide

on:
  push:
    branches: [ main ]

jobs:
  vuepress:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: felixriese/susi
        TARGET_BRANCH: gh-pages
        BUILD_SCRIPT: yarn && yarn guide:build
        BUILD_DIR: guide/.vuepress/dist
